<launch>
 <node name="navigation" type="navigation_node" pkg="navigation" >

 <param name="first_point_x" value="0." />
 <param name="first_point_y" value="4.0" />

 <param name="second_point_x" value="1.5" />
 <param name="second_point_y" value="4.0" />

 <param name="third_point_x" value="1.5" />
 <param name="third_point_y" value="0.6" />

 <param name="forth_point_x" value="0.0" />
 <param name="forth_point_y" value="0.6" />

 <param name="k" value="0.01" />
 <param name="margin" value="0.01" />
 </node>

</launch>


